<!-- icon fonts -->
<link href="https://cdn.jsdelivr.net/fontawesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!-- base font -->
<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
<!-- Configurable  Fonts -->
{{ with .Site.Params }}

  {{ with .font }}
  <link href="http://fonts.googleapis.com/css?family={{ . }}:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  {{ end }}

  {{ with .navbar.font }}
  <link href="http://fonts.googleapis.com/css?family={{ . }}:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  {{ end }}

  {{ with .hero.font }}
  <link href="http://fonts.googleapis.com/css?family={{ . }}:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  {{ end }}

  {{ with .hero.headline_font }}
  <link href="http://fonts.googleapis.com/css?family={{ . }}:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  {{ end }}

  {{ with .sections.font }}
  <link href="http://fonts.googleapis.com/css?family={{ . }}:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  {{ end }}

  {{ with .sections.font_headline }}
  <link href="http://fonts.googleapis.com/css?family={{ . }}:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  {{ end }}

{{ end }}
