/* NAVIGATION BAR */

/* mobile first at <1000px */

#nav-bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100vw;
}

.nav-bar__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: black;
  background-color: white;
  border-bottom: 1px solid grey;
  font-weight: bold;
  font-size: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

.nav-bar__header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: start;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
}

.nav-bar__logo {
  padding-left: 1em;
}

.nav-bar__logo {
  order: 2;
}


.nav-bar__menu-button {
  order: 1;
  cursor: pointer;
}

.nav-bar__menu {
  overflow-y: scroll;
  max-height: 75vh;
  padding-right: .5em;
}

.hide-menu {
  height: 0;
}

.nav-bar__menu-item {
  display: flex;
  justify-content: center;
  transition: 200ms;
  border-top: 2px solid;
  padding: .35em;
}

.nav-bar__menu-item > a {
  flex-grow: 1;
  text-align: center;
  opacity: 1;
}

.nav-bar__menu-item:hover, .nav-bar__menu-item >a:hover {
  background-color: white;
  color: black;
}

.nav-bar__draft {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: red;
  font-weight: bold;
  font-size: 1em;
  width: 100%;
  height: 2em;
}


/* bigger than small tablet */
@media only screen and (min-width: 1000px) {
  .nav-bar__container {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5em;
  }

  .nav-bar__menu {
    display: flex;
    overflow-y: hidden;
  }

  .hide-menu {
    height: auto;
  }

  .nav-bar__menu {
    display: flex;
    justify-content: flex-end;
    overflow-y: hidden;
    overflow-x: auto;
  }

  .nav-bar__header {
    padding-top: 0;
    padding-bottom: 0;
  }

  .nav-bar__menu-item,
  .nav-bar__logo, 
  .nav-bar__draft {
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    border-top: 0;
  }

  .nav-bar__menu-button {
    display: none;
  }
} /* end responsive */


/* full size */

@media screen and (min-width: 1400px) {


}
