/* sections */

.section__headline {
  text-align: center;
}

.section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__content ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 80%;
  padding-top: 0.3em;
  padding-bottom: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.section__content li {
  padding-bottom: 0.7em;
}

/* lists in section content */
.section__content li {
  font-size: 1em;
  list-style-type: none;
  line-height: 0.9em;
}

.section__content ul,
.section__content ol {
  margin-left: 2em;
  list-style-position: inside;
  padding-top: 1em;
}

.section__content ul > li::before {
  font-family: FontAwesome;
  content: "\f18e";
  padding-right: 1.1em;
  margin-left: -2em;
}

.section__content ol {
  counter-reset: foo;
}

.section__content ol > li {
  counter-increment: foo;
}

.section__content ol > li::before {
  content: counter(foo) ".";
  padding-right: 0.8em;
  margin-left: -1.4em;
}

.section--even {
  color: white;
  background-color: black;
}

.section--even .btn {
  color: black;
  background-color: white;
  text-transform: uppercase;
}

.section--footer {
  color: white;
  background-color: darkgrey;
  min-height: 4000px;
}

/* ----------------
 	Hero Section
---------------- */
#hero {
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero .text {
  text-align: center;
  color: white;
}

/* ----------------
 	Components/Shortcodes Styling
---------------- */

/* box creates a flexbox wrapper, row default */
.box {
  display: flex;
  flex-flow: wrap;
  align-content: center;
  justify-content: center;
  padding-bottom: 0.5em;
}

.box--column {
  flex-direction: column;
  align-items: center;
}

.box--image {
  max-width: 450px;
  padding: 0.5em;
}

.box--headline {
}

.box--text {
}

.box--btn {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.box--btn-bar > .box--btn {
  margin-right: 0.2em;
  margin-bottom: 0.5em;
}

.btn__text {
  align-self: center;
}

.btn__icon {
  align-self: center;
  padding-right: 0.2em;
}

.btn--large .btn__text,
.btn--large .btn__icon {
  font-size: 3rem;
}

.btn--circle {
  border-radius: 50%;
  padding: 0.5em;
}

.box--avatar > img,
img.avatar {
  object-fit: cover;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 0.5em;
}

.box--avatar > a {
  opacity: 1;
}

.box__embed {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.box__caption {
text-transform: capitalize;
font-style: italic;
}

.box__title {
 text-transform: uppercase;
 font-weight: bold;
 padding-top: 0.75em;
}

.box__embed--disqus {
  width: 90vw;
  max-width: 800px;
}

.box__contact-info > * {
  padding: 0.1em;
  align-self: center;
}

.box__contact-info > * > * {
  margin: 0.2em;
  align-self: center;
}

/*turn off default bullets*/
.box--gallery {
  list-style: none;
}

.box--gallery li,
.box--gallery__item {
  padding: 0.2em;
}

/*turn off fontawesome bullets*/
.box--gallery li::before,
.box--gallery__item li::before {
  display: none;
}

code {
  font-size: 0.8em;
  font-family: Inconsolata;
  background-color: dimgrey;
  border-radius: 0.2em;
  color: white;
  padding-left: 0.2em;
  padding-right: 0.2em;
  padding-top: 0.05em;
  padding-bottom: 0.05em;
}

code.hljs {
  font-size: .75em;
  border-radius: 0.2em;
  background-color: dimgrey;
  color: white;
  padding: 1em;
  margin-bottom: 0.7em;
  width: inherit;
  max-width: 90vw;
  border-width: 10px;
  border-color: blue;
}
