/* mobile first in base and page css*/

/* small tablets */
@media only screen and (min-width: 600px) {
  .section__content ul li {
    text-indent: -2rem;
  }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 799px) {
}

/* tablets */
@media only screen and (min-width: 800px) {
}

@media only screen and (min-device-width: 800px) and (max-device-width: 1190px) {
}

/* desktop */

@media only screen and (min-width: 1200px) {
  .section__container {
    max-width: 1200px;
  }
  /* help with centering content with hidden phone number */
  .box__contact {
    margin-left: 6em;
  }
}

@media only screen and (min-device-width: 1200px) and (max-device-width: 1800px) {
  /* Styles */
}

/* large */
@media screen and (min-width: 1800px) {
  .section__container {
    max-width: 1200px;
  }
}
