#nav-container > nav > ul {
  list-style-type: none;
}

/* NAVIGATION */
#nav-background {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #ddd;
  /*
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  */
}

#nav-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

#nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-logo {
  font-size: 1em;
  font-weight: bold;
}
#nav-logo:hover {
  /*color: #666;*/
}

.nav-ul {
  display: flex;
  max-width: 700px;
}

.nav-ul > li {
  display: flex;
}

.nav-link {
  flex: 1;
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  transition: 200ms;
}

.nav-link:hover {
  background-color: #f1f1f1;
}

.active-link {
  background-color: #f1f1f1;
}

/* END NAVIGATION */


/* MOBILE MENU */
@media screen and (max-width: 899px) {

  #nav-container {
    flex-direction: column;
    text-align: center;
  }

  #nav-menu-button {
    padding: 1rem;
    background-color: #f1f1f1;
    cursor: pointer;
  }

  .nav-ul {
    display: block;
    flex-direction: column;
    overflow-y: scroll;
    direction: rtl;
    max-height: 80vh;
  }

  .hide-ul {
    max-height: 0vh;
  }

  .nav-link {
    padding: 1rem 0;
    font-size: 1.3rem;
    border-bottom: 1px solid #f4f4f4;
  }
}
/* END MOBILE MENU */

/* DESKTOP MENU */
@media screen and (min-width: 900px) {

  #nav-menu-button {
    display: none;
  }

  .nav-link {
    padding: 1rem 1.5rem;
  }
}

/* This moves the logo so that it's not touching the left side */
@media screen and (max-width: 1040px) {
  #nav-logo {
    margin-left: 1rem;
  }
}
/* END DESKTOP MENU */
