/* NAVIGATION BAR */

.nav-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

.nav-bar__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    font-weight: bold;
}

.nav-bar__header a {
    font-size: 1.5em;
    padding: 1em 1em;
    font-weight: bold;
}

.nav-bar__logo {
    order: 2;
    padding-right: 1em;
}

.nav-bar__menu-button {
    font-size: 1.5em;
    padding: .8em 1em;
    cursor: pointer;
    order: 1;
}

.nav-bar__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    overflow-y: scroll;
    /*max-height: 80vh;*/
}

.display-menu {
    height: auto;
}

.nav-bar__link {
    padding: 1em;
    flex-grow: 1;
    font-size: 1em;
    border-bottom: 1px solid #f4f4f4;
    font-weight: 600;
    transition: 200ms;
}

@media only screen and (min-width: 801px) {
    .nav-bar {
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
    }
    .nav-bar__logo {
        margin-left: 1em;
    }
    .nav-bar__link, .nav-bar__header a {
        font-size: 2em;
        padding: 1em .5em;
    }
    .nav-bar__menu-button {
        display: none;
    }
    .nav-bar_menu {
        flex-direction: row;
        align-content: center;
        justify-content: flex-end;
    }
}

/* Desktop */

@media screen and (min-width: 1200px) {}
