/* sections */

.section__container {
}

.section-headline {
  text-align: center;
}

.section__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section--even {
    color: white;
    background-color: silver;
}

.section--footer {
    color: white;
    background-color: darkslategrey;
}



/*----------------
 	Hero Section
----------------*/

#hero {
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero .text {
    text-align: center;
    color: white;
}


/*----------------
 	Components/Shortcodes Styling
----------------*/

/* box creates a flexbox wrapper*/

.box {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-content: center;
    justify-content: center;
}

.box--headline {}

.box--text {}

.box--btn {
  padding: 1rem;
}

.box__embed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box--gallery {
  /*justify-content: flex-start;*/
}

.gallery__item {
  padding: 3px;
}

.section__content ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width:80%;
  padding-top: .3em;
  padding-bottom: 1em;
}


.section__content  li {
  padding-bottom: .7em;
}

.section__content  li::before {
font-family: FontAwesome;
content: "\f18e";
padding-right:.5em;
padding-left:1em
}

.section__content ul li {
    text-indent: -3rem;
}
