<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                  {{ range .Data.Pages }}
                      <li>
                        <a class="page-scroll" href="#{{ .File.BaseFileName }}">
                        {{ if isset .Params "link_text" }}
                            {{ index .Params "link_text" }}
                        {{ else  }}
                            {{ index .Title }}
                        {{ end }}
                        </a>
                      </li>
                  {{ end }}

                    <!-- {{ if isset .Site.Params "social" }}
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    {{ end }} -->
                </ul>
                <p class="">{{ .Title }}</p>
            </div>
            <div class="col-md-4">
Email Owner:
            </div>
        </div>
    </div>
</footer>
{{ partial "js.html" . }}
</body>
</html>
