<!-- CDNs -->
<!-- jQuery -->
<script src="https://cdn.jsdelivr.net/jquery/3.1.1/jquery.min.js"></script>
<!-- light gallery and modules/plugins -->
<script src="https://cdn.jsdelivr.net/g/lightgallery,lg-autoplay,lg-pager,lg-thumbnail,lg-video"></script>
<!-- modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.8.0/jquery.modal.min.js"></script>

<!-- LOCAL -->

<!-- Function Library -->
<!-- sizing tools -->
<script src="/js/fitToParent.js"></script>
<script src="/js/flowType.js"></script>
<!-- development tools -->
<script src="/js/lorem.js"></script>
{{ if isset .Site.Params "googleAnalytics" }}
<script src="/js/analytics.js"></script>
{{ end }}

<!-- site specific functions for page use -->
<script src="/js/page.js"></script>

<!-- Document Ready - Initialize - Window resize calls -->
<script src="/js/docready.js"></script>

<!-- Custom/Override js files -->
{{ range .Site.Params.custom_js }}
   <script src="/js/{{ . }}"></script>
{{ end }}

<!-- Initialize Photo Galleries with a Lightbox -->
{{ if .Site.Params.galleries }}
<script>
$(document).ready(function () {
  {{ range.Site.Params.galleries }}
  {{ $.Site.Params.lightbox | safeJS }}('#{{ . }}'){{ end }}
});
</script>
{{ end }}
