<!-- jQuery  CDN -->
<script src="https://cdn.jsdelivr.net/jquery/3.1.1/jquery.min.js"></script>

<!-- light gallery and modules/plugins -->
<script src="https://cdn.jsdelivr.net/g/lightgallery,lg-autoplay,lg-pager,lg-thumbnail,lg-video"></script>

<!-- All functions for page use -->
<script src="js/page.js"></script>

{{ if isset .Site.Params "googleAnalytics" }}
<script src="js/analytics.js"></script>
{{ end }}

<!-- development tools -->
<script src="js/lorem.js"></script>

<!-- Document Ready - Start -->
<script src="js/docready.js"></script>
