<!-- Navigation -->
  <div id="nav-bar" class="nav-bar">
    <!-- <div class="nav-bar__container"> -->
      <div class="nav-bar__header">
        <a href="#hero" class="nav-bar__logo">{{ .Site.Params.navbar.text | default .Site.Title }}</a>
        <div class="nav-bar__menu-button"> <i class="fa fa-bars"></i></div>
      </div>
      <!-- <nav class="nav-bar__menu"> -->
        <ul class="nav-bar__menu display-menu">
          {{ range .Data.Pages }}
          {{ if ne .File.BaseFileName "footer"}}
          <li>
              <a class="nav-bar__link" href="#{{ .File.BaseFileName }}">
                  {{ if isset .Params "link_text" }}
                      {{ index .Params "link_text" }}
                  {{ else  }}
                      {{ index .Title }}
                  {{ end }}
                </a>
          </li>
          {{ end }}
          {{ end }}
        </ul>
      <!-- </nav> -->
    <!-- </div> -->
  </div>
