<!-- Renders Section Based on Content -->
{{ $parity := "odd" }} {{ range $i, $e := .Data.Pages }}
{{ if ne .Params.hidden true }}
<section id="{{ .File.BaseFileName }}" class="section section--{{ .File.BaseFileName }} section--{{ if modBool $i 2  }}odd{{ else  }}even{{ end }}">
	<div class="section__container">
		<div class="section__headline section__headline--{{ .File.BaseFileName }}">
			<h1>{{ .Title }}</h1>
		</div>
		<div class="section__content section-content--{{ .File.BaseFileName }}" {{ with .Params.align }} style="align-items: {{.}};"{{ end }} >
			{{ .Content }}
		</div>
	</div>
</section>
{{ end }}
{{ end }}
