{{ with .Site.Params.contact }} {{ $path := "/images/" }} {{ with $.Site.Params.imagespath }} {{ $path := ( . ) }}{{ end }}
<div class="box box__contact">
	<img class="avatar" src="{{ $path }}{{ .avatar | default " avatar.jpg "}}"/>
	<div class="box box__contact-info">
		<h4>{{ .name }}</h4>
		<div class="box">
			<a class="btn" onClick="javascript:window.open('mailto:{{ .email }}', 'mail');event.preventDefault()" href="{{ .email }}">
				<i class="fa fa-envelope-o fa-fw"></i>
			</a>
			<div id="cell" class="btn clickable">
				<i class="fa fa-mobile fa-fw"></i>
			</div>
			{{ if .cell_image | or .cell }}
			{{ if .cell_image }}
			<img id="cell-number" class="hide" src="{{ $path }}{{ .cell_image }}"/>
			{{ else }}
			<div id="cell-number" class="hide">{{ .cell }}</div>
			{{ end }}
			{{ end }}
		</div>
	</div>
</div>
{{ end }}
